<%- include('includes/head.ejs') %>

    <div class="home-content">
        <div id="formcontainer">
            <form method="post">

                <h1 style=text-align:center>Owner Details</h1>
                <div id="inputitem">
                    <p>Name of PG</p><input type="text" placeholder="Name Of PG" name="nameofpg" required>
                </div>
                <div id="inputitem">
                    <p>ID of PG</p><input type="text" placeholder="ID Of PG" name="idofpg" required>
                </div>
                <div id="inputitem">
                    <p>Name of Owner</p><input type="text" placeholder="Name of owner" name="nameofowner" required>
                </div>
                <div id="inputitem">
                    <p>Contact OF Owner</p><input type="text" name="contactofowner" required>
                </div>
                <div id="inputitem">
                    <p>Name of Person-IN-Charge(Warden)</p><input type="text" placeholder="Person-IN-Charge"
                        name="nameofwarden">
                </div>
                <div id="inputitem">
                    <p>Contact of Person-IN-Charge(Warden)</p><input type="text" name="contactofwarden">
                </div>
                <div id="inputitem">
                    <p>Gender</p><input type="text" name="gender" required>
                </div>
                <div id="inputitem">
                    <p>Address</p><input type="text" placeholder="Address" name="address">
                </div>
                <div id="inputitem">
                    <p>Distance from JUSL</p><input type="text" name="distancefromjusl">
                </div>
                <div id="inputitem">
                    <p>Distance from Techno India</p><input type="text" name="distancefromtechno">
                </div>
                <div id="inputitem">
                    <p>Distance from IEM</p><input type="text" name="distancefromiem">
                </div>

                <h1 style=text-align:center>Availability Details</h1>

                <h3>Single Occupancy</h3>
                <div id="inputitem">
                    <p>Ac</p><input type="text" name="soac">
                    <p>Cost</p><input type="text" name="socost">
                </div>

                <h3>Double Occupancy</h3>
                <div id="inputitem">
                    <p>Ac</p><input type="text" name="doac">
                    <p>Cost</p><input type="text" name="docost">
                </div>

                <h3>Triple Occupancy</h3>
                <div id="inputitem">
                    <p> Ac</p><input type="text" name="toac">
                    <p> Cost</p><input type="text" name="tocost">
                </div>

                <h3>Four Sharing</h3>
                <div id="inputitem">
                    <p>Ac</p><input type="text" name="foac">
                    <p>Cost</p><input type="text" name="focost">
                </div>

                <h1 style=text-align:center>Food Menu (Breakfast/Lunch)</h1>

                <div id="checkbox">
                    <label for="Food Included">Food Included</label>
                    <input type="checkbox" id="Food Included" name="foodincluded" value="true">
                </div>

                <div id="checkbox">
                    <label for="Compulsory">Compulsory</label>
                    <input type="checkbox" id="Compulsory" name="compulsory" value="true">
                </div>

                <div id="inputitem">
                    <p>Point 1</p><input type="text" name="foodbullet1">
                </div>

                <div id="inputitem">
                    <p>Point 2</p><input type="text" name="foodbullet2">
                </div>

                <div id="inputitem">
                    <p>Point 3</p><input type="text" name="foodbullet3">
                </div>


                <h1 style=text-align:center>Additional Details</h1>

                <div id="checkbox">
                    <label for="Laundry">Laundry</label>
                    <input type="checkbox" id="Laundry" name="Laundry" value="true">
                </div>

                <div id="checkbox">
                    <label for="Washroom">Washroom</label>
                    <input type="checkbox" id="Washroom" name="washroom" value="true">
                </div>

                <div id="checkbox">
                    <label for="Wifi">Wifi</label>
                    <input type="checkbox" id="Wifi" name="Wifi" value="true">
                    <p>Speed</p><input type="text" name="speed">
                </div>

                <div id="checkbox">
                    <label for="Geyser">Geyser</label>
                    <input type="checkbox" id="Geyser" name="geyser" value="true">
                </div>

                <div id="inputitem">
                    <p>Kitchen</p><input type="text" name="kitchen">
                </div>

                <div id="inputitem">
                    <p>Security Deposit</p><input type="text" name="securitydeposit">
                </div>

                <div id="inputitem">
                    <p>Refund Policy</p><input type="text" name="refundpolicy">
                </div>

                <div id="inputitem">
                    <p>IN Time</p><input type="text" name="intime">
                </div>

                <div id="inputitem">
                    <p>Housekeeping</p><input type="text" name="housekeeping">
                </div>

                <div id="inputitem">
                    <p>Drinking Water</p><input type="text" name="drinkingwater">
                </div>

                <div id="inputitem">
                    <p>Furniture</p><input type="text" name="furniture">
                </div>

                <div id="submitbox">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </div>

            </form>
        </div>
    </div>

    <%- include('includes/end.ejs') %>