<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/adminlogin.css">

</head>
<body>

    <div id="error">
        <h1><%= msg  %></h1>
    </div>

</body>

</html>