
.firstbox{
    background-color: white;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 1%;
    /* padding-bottom: 2%; */
    display: flex;
    justify-content:space-evenly;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pgimages{
    /* width: 40%; */
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pgpic{
    width: 100%;
}

.top-details{
    padding: 1%;
    /* background-color: tomato */
    /* This min width is required to make the div larger so that the tsbles align in a row in laptop view */
    min-width: 50%;
    /* margin: 2%; */

}


.pgid{
    margin-bottom: 0%;
}

.gender{
    margin-top: 0%;
    margin-bottom: 0%;
}


.tables{
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:2.3rem;
}

.amount{
    /* background-color: chocolate; */
    padding-left: 10px;
}

.firsttable{
    margin-right: 5%;
}

/* #firsttable{
    margin-right: 2%;
} */

/* try to see whats exactly the problem */
/* #secondtable{
    padding-left: 2%;
} */


  .secondbox{
      background-color: white;
      margin-right: 7%;
      margin-left: 7%;
      margin-top: 1%;
      padding: 2%;
  }

  .pgdetails{
      margin-top: 4%;
      margin-bottom: 4%;
      display: flex;
      justify-content:start;
      gap:5rem;
      flex-wrap: wrap;
  }

  .foodmenu{
      padding-bottom: 2.3rem;
  }
 
  .foodmenu li{
      list-style: disc;
      margin-left: 2rem;
  }

  #refund{
      margin-bottom: 2.5%;
  }

  .detailfield{
      font-size: 21px;
      font-weight:bold;
      margin-right: 4px;
      /* color: navy; */
  }


  .thirdbox{
    background-color: white;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 1%;
    padding: 2%;
}

.reviews{
    padding-left: 2%;
}

.reviews>h2{
    text-align: center;
}

.reviewpara{
    padding-left: 2%;
}

form{
    display: flex;
    flex-direction: column;
}

.write{
    max-width: 400px;
    /* width: 40%; */
}

.submit{
    width: 70px;
    height: 35px;
    margin-top: 1%;
}


  @media only screen and (max-width: 850px)
  {
      .firstbox{
          margin-left: 2%;
          margin-right: 2%;
      }

      .secondbox{
        margin-left: 2%;
        margin-right: 2%;
    }

      .thirdbox{
        margin-left: 2%;
        margin-right: 2%;
    }
  }


  @media only screen and (max-width: 1322px)
  {
    .tables{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  }

  @media only screen and (max-width: 996px)
  {
    .top-details{
        min-width: 100%
    }

    .tables,.firstbox{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 480px)
  {

    body{
        font-size: 16px;
    }
    .block2{
        padding-left: 0;
    }
  }

  @media only screen and (max-width: 769px){
    .detailfield{
      font-size: 17px;
    }

    body{
      font-size: 16px;
    }
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 90%;
  }

  .carousel-wrapper * {
    box-sizing: border-box;
  }

  .carousel {
    transform-style: preserve-3d;
  }

  .carousel__photo {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
  }

  .carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}