<%- include('includes/head.ejs') %>
    <title>Account</title>
    <link rel="stylesheet" href="css/amenitiesstyle.css">
    </head>

    <body>
        <%- include('includes/nav.ejs') %>

            <div class="title">
                <h1>Amenities</h1>
                <br>
                <br>
                <p>Want to avoid the hassle of looking for and arranging all the amenities while moving in. Contact us
                    if you want a ready to move in flat with all the essentials in place at cheapest price in the
                    market.</p>
            </div>



            <div class="section">


                <div class="firstbox">

                    <a href="https://drive.google.com/file/d/1qSbNn3CBaCONym1k38RLcy-VneMuCm_C/view?usp=sharing"
                        target="_blank">
                        <div class="table" class="item">
                            <div class="icon"><img src="images/studying.png" alt=""></div>
                            <h2>Tables</h2>
                        </div>
                    </a>

                    <a href="https://drive.google.com/file/d/1eq8PC8cM87XukTKT7RBBDs4jrR7_rCZk/view?usp=sharing"
                        target="_blank">
                        <div class="chair" class="item">
                            <img src="images/chair.png" alt="">
                            <h2>Chairs</h2>
                        </div>
                    </a>

                </div>


                <div class="secondbox">

                    <a href="https://drive.google.com/file/d/1WS5_JKMfrhmplTeJR0Igsa3qbvYt6v7o/view?usp=sharing"
                        target="_blank">
                        <div class="bed" class="item">
                            <img src="images/bed.png" alt="">
                            <h2>Single Beds</h2>
                        </div>
                    </a>

                    <a href="https://drive.google.com/file/d/1rK71o_scs4s87RHjz8H7G2ZPaoIjQr55/view?usp=sharing"
                        target="_blank">
                        <div class="mattress" class="item">
                            <img src="images/air-mattress.png" alt="">
                            <h2>Mattress</h2>
                        </div>
                    </a>

                </div>


            </div>



            <div class="button">
                <a class="btn" id="" href="https://wa.me/message/XMULBPYDLI5UP1"> Contact Us </a>
            </div>


            <%- include('includes/end.ejs') %>
            
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<!-- Custom Script -->
<script src="js/index.js"></script>
</body>

</html>