<%- include('includes/head.ejs') %>
    <title>Coming Soon</title>
    <link rel="stylesheet" href="css/comingsoon.css">
    </head>

    <body>
        <%- include('includes/nav.ejs') %>
        <section>
            <div class="containerx">
                <h1>KITCHEN SERVICES</h1>
                <h2>Coming soon...</h2>

                <div class="count">
                    <div class="countd">
                        <span id="days">00</span>
                        DAYS
                    </div>

                    <div class="countd">
                        <span id="hours">00</span>
                        HOURS
                    </div>

                    <div class="countd">
                        <span id="minutes">00</span>
                        MINUTES
                    </div>

                    <div class="countd">
                        <span id="seconds">00</span>
                        SECONDS
                    </div>
                </div>
            </div>
        </section>

            <%- include('includes/end.ejs') %>