<%- include('includes/head.ejs') %>
    <title>CORNERSTONE</title>
    </head>

    <body>
        <!-- Header -->
        <header id="home" class="header">
            <%- include('includes/nav.ejs') %>

                <!-- Hero -->
                <img src="./images/banner1.png" alt="" class="hero-img" />

                    <div class="hero-content">
                        <h2>Revolutionising student community </h2>
                        <h1>
                            <span>CORNERSTONE</span>
                        </h1>
                        <a class="btn" href="#">PGs</a>
                        <a class="btn" href="#">Flats</a>
                    </div>
        </header>

        <!-- Main -->
        <main>
            <div class="title">
                <h1>Why Choose Us?</h1>
            </div>
            <section class="advert section">
                <div class="advert-center container">
                    <div class="advert-box">
                        <div class="dotted">
                            <div class="content">
                                <h2>
                                    Girls <br />
                                    Safety
                                </h2>
                                <h4>Exclusive girls only PGs</h4>
                            </div>
                        </div>
                    </div>

                    <div class="advert-box">
                        <div class="dotted">
                            <div class="content">
                                <h2>
                                    Affordable <br />
                                    Prices
                                </h2>
                                <h4>Suiting to your needs</h4>
                            </div>
                        </div>
                    </div>

                    <div class="advert-box">
                        <div class="dotted">
                            <div class="content">
                                <h2>
                                    Premium <br />
                                    Locations
                                </h2>
                                <h4>Close to the campus</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Featured -->
            <section class="section featured">
                <div class="title">
                    <h1>PGs</h1>
                </div>

                <div class="product-center container">
                    <div class="product">
                        <div class="product-header">
                            <img src="./images/pic2.jpg" alt="">
                            <ul class="icons">
                                <span><i class="bx bx-heart"></i></span>
                                <span><i class="bx bx-search"></i></span>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <a href="#">
                                <h3>Dunlop</h3>
                            </a>
                            <h4 class="price">FLAT ID:#12345</h4>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-header">
                            <img src="./images/pic1.jpg" alt="">
                            <ul class="icons">
                                <span><i class="bx bx-heart"></i></span>
                                <span><i class="bx bx-search"></i></span>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <a href="#">
                                <h3>Behala</h3>
                            </a>
                            <h4 class="price">FLAT ID:#12345</h4>
                        </div>
                    </div>
                </div>
                <div id="center">
                    <a class="btn" href="#">All PGs</a>
                </div>

            </section>

            <!--Latest -->
            <section class="section featured">
                <div class="title">
                    <h1>Flats</h1>
                </div>

                <div class="product-center container">
                    <div class="product">
                        <div class="product-header">
                            <img src="./images/pic5.jpg" alt="">

                            <ul class="icons">
                                <span><i class="bx bx-heart"></i></span>
                                <span><i class="bx bx-search"></i></span>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <a href="#">
                                <h3>Chetla</h3>
                            </a>
                            <h4 class="price">FLAT ID:#12345</h4>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-header">
                            <img src="./images/pic2.jpg" alt="">

                            <ul class="icons">
                                <span><i class="bx bx-heart"></i></span>
                                <span><i class="bx bx-search"></i></span>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <a href="#">
                                <h3>Behala</h3>
                            </a>
                            <h4 class="price">FLAT ID:#12345</h4>
                        </div>
                    </div>
                </div>
                <div id="center">
                    <a class="btn" href="#">All Flats</a>
                </div>

            </section>

            <!-- Product Banner -->
            <section class="section">
                <div class="product-banner">
                    <div class="left">
                        <img src="./images/banner1.jpg" alt="" />
                    </div>
                    <div class="right">
                        <div class="content">
                            <h2><span class="discount">Refferal</span> Program</h2>
                            <h1>
                                <span>Exclusive perks</span>
                                <span>if people signup with your referral code</span>
                            </h1>
                            <a class="btn" href="#">Sign Up</a>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('includes/end.ejs') %>