<!-- Footer -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>ABOUT US</h3>
                <h6>Reach out to us :</h6>
                <a href="mailto: abc@example.com">Email</a>
                <a href="https://wa.me/message/XMULBPYDLI5UP1">Chat on whatsapp</a>
                <a href="tel:+91-8100358606">Call</a>
            </div>
            <div class="footer-center">
                <a href="amenities">Amenities</a>
                <a href="https://forms.gle/qBdCGuzgTP44Qywt8">List your properties</a>
                <a href="https://forms.gle/HaE2GgA9VNmetcbF7">Sell Amenities</a>
                <a href="https://forms.gle/LRX1184KZ8QuzQr9A">Work with us</a>
                <a href="https://drive.google.com/file/d/1T64M82f37d3zUvdbKcATFOrlc4u2yUal/view?usp=sharing">Cornerstone
                    Cash</a>
                <a href="comingsoon">Kitchen Services</a>
            </div>
            <div class="footer-center">
                <h3>Find PGs in Salt Lake</h3>
                <%# <h3>Find PGs in Jadavpur</h3> %>
                    <h3>More to come</h3>
                    <h6>&copy; 2021 Abhay Bajaj, &nbsp; <div id="br"></div> All Rights Reserved</h6>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
