<!-- Footer -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>ABOUT US</h3>
                <h6>Reach out to us :</h6>
                <a href="mailto: abc@example.com">Email</a>
                <a href="https://chat.whatsapp.com/IGhfivV4PHA2DmndDgOY7Q">Chat on whatsapp</a>
                <a href="tel:+801754479">Call</a>
                <h3>Copyright : Abhay Bajaj</h3>
            </div>
            <div class="footer-center">
                <a href="amenities">Amenities</a>
                <a href="#">List your properties</a>
                <a href="#">Sell Amenities</a>
                <a href="#">Work with us</a>
                <a href="#">Cornerstone Cash</a>
                <a href="comingsoon">Kitchen Services</a>
            </div>
            <div class="footer-center">
                <h3>Find PGs in Salt Lake</h3>
                <h3>Find PGs in Jadavpur</h3>
                <h3>More to come</h3>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<!-- Custom Script -->
<script src="js/index.js"></script>
<script src="js/wishlist.js"></script>
</body>

</html>