  <!-- Navigation -->
  <nav class="nav">
    <div class="navigation container">
      <div class="logo">
        <a href="/" class="nav-link">Cornerstone</a>
      </div>
  
      <div class="menu">
        <div class="top-nav">
          <div class="logo">
            <h1>Cornerstone</h1>
          </div>
          <div class="close">
            <i class="bx bx-x"></i>
          </div>
        </div>
  
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="pgs" class="nav-link">PGs</a>
          </li>
          <li class="nav-item">
            <a href="flats" class="nav-link">Flats</a>
          </li>
          < #<li class="nav-item">
            <a href="account" class="nav-link">SignUp</a>
          </li> >
        </ul>
      </div>
  
      <div class="hamburger">
        <i class="bx bx-menu"></i>
      </div>
    </div>
   </nav>